In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("Salary.csv")
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
df.apply(pd.isnull).sum()/df.shape[0]

YearsExperience    0.0
Salary             0.0
dtype: float64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [7]:
X = df.drop('Salary', axis = 1)
Y = df['Salary']
print(X)

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [8]:
print(Y)

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [16]:
from sklearn.linear_model import LinearRegression
sklearn_model = LinearRegression()
sklearn_model.fit(X_train, Y_train)
sklearn_model

LinearRegression()

In [21]:
Y_pred = sklearn_model.predict(X_test)

In [20]:
print(Y_test)

18     81363.0
2      37731.0
0      39343.0
20     91738.0
23    113812.0
25    105582.0
Name: Salary, dtype: float64

In [22]:
print(Y_pred)

[ 81195.86863301  39835.91437138  36075.91852941  89655.85927744
 102815.84472432 110335.83640825]

In [23]:
from sklearn.metrics import mean_squared_error

In [26]:
print(mean_squared_error(Y_pred, Y_test))

27163686.69533378

In [27]:
print(sklearn_model.coef_)

[9399.98960492]

In [28]:
sklearn_model.intercept_

25735.929964006136

In [29]:
import pickle 
file = open("Salary.pkl", "wb")
pickle.dump(sklearn_model, file)
file.close()